<a href="https://colab.research.google.com/github/siddpatel1/DSPS_SPatel/blob/main/HW8/SidPatel_HW8_higgsbosonSearch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd
import json
import os
import pylab as pl
%pylab inline
from pprint import pprint
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
cd /content/drive/MyDrive

/content/drive/MyDrive

In [4]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [5]:
!rm -r higgsHW8SP

In [6]:
!mkdir /content/drive/MyDrive/higgsHW8SP

In [7]:
envs = json.load(open(".kaggle/kaggle.json", "r"))
os.environ["KAGGLE_USERNAME"] = envs["username"]
os.environ["KAGGLE_KEY"] = envs["key"]

In [8]:
cd higgsHW8SP

/content/drive/MyDrive/higgsHW8SP

In [9]:
ls

In [10]:
#accept rules, late submission button, verify phone on Kaggle 
!kaggle competitions download -c higgs-boson

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading test.zip to /content/drive/MyDrive/higgsHW8SP
 95% 33.0M/34.8M [00:00<00:00, 99.6MB/s]
100% 34.8M/34.8M [00:00<00:00, 99.6MB/s]
Downloading HiggsBosonCompetition_AMSMetric_rev1.py to /content/drive/My Drive/higgsHW8SP
  0% 0.00/3.15k [00:00<?, ?B/s]
100% 3.15k/3.15k [00:00<00:00, 439kB/s]
Downloading random_submission.zip to /content/drive/My Drive/higgsHW8SP
  0% 0.00/2.58M [00:00<?, ?B/s]
100% 2.58M/2.58M [00:00<00:00, 65.0MB/s]
Downloading training.zip to /content/drive/My Drive/higgsHW8SP
 59% 10.0M/16.9M [00:00<00:00, 98.9MB/s]
100% 16.9M/16.9M [00:00<00:00, 82.6MB/s]

In [11]:
ls

HiggsBosonCompetition_AMSMetric_rev1.py  test.zip
random_submission.zip                    training.zip

- Download the Higgs boson data from Kaggle (programmatically within the notebook)
see how I did it in the Titanic Trees notebook https://github.com/fedhere/DSPS/blob/master/lab9/titanictree.ipynb

find the correct API link here https://www.kaggle.com/c/higgs-boson/data


- Read in the trainind data. Split the provided training data into a training and a test set. 
The last 2 columns are what you want to predict: "weight" and "label".
Remove them from the input data and create a separate variable label and a separate variable weight, which will be your target variables for, respectively, classification and regression.

In [12]:
higgsdata = pd.read_csv("training.zip",compression='zip')

In [13]:
higgsdata.shape

(250000, 33)

In [14]:
higgsdata.head()

   EventId  DER_mass_MMC  ...    Weight  Label
0   100000       138.470  ...  0.002653      s
1   100001       160.937  ...  2.233584      b
2   100002      -999.000  ...  2.347389      b
3   100003       143.905  ...  5.446378      b
4   100004       175.864  ...  6.245333      b

[5 rows x 33 columns]

In [15]:
higgsdata.describe()

             EventId   DER_mass_MMC  ...  PRI_jet_all_pt         Weight
count  250000.000000  250000.000000  ...   250000.000000  250000.000000
mean   224999.500000     -49.023079  ...       73.064591       1.646767
std     72168.927986     406.345647  ...       98.015662       1.875103
min    100000.000000    -999.000000  ...        0.000000       0.001502
25%    162499.750000      78.100750  ...        0.000000       0.018636
50%    224999.500000     105.012000  ...       40.512500       1.156188
75%    287499.250000     130.606250  ...      109.933750       2.404128
max    349999.000000    1192.026000  ...     1633.433000       7.822543

[8 rows x 32 columns]

In [16]:
labels = np.array(higgsdata["Label"])
weights = np.array(higgsdata["Weight"])

In [17]:
labels

array(['s', 'b', 'b', ..., 's', 'b', 'b'], dtype=object)

In [18]:
#unique(labels)

In [19]:
weights

array([0.00265331, 2.23358449, 2.34738894, ..., 0.01863612, 1.68161144,
       1.87747381])

In [20]:
higgsdata = higgsdata.drop(columns=['Label','Weight']) #Drop EventID?

In [21]:
higgsdata.head()

   EventId  DER_mass_MMC  ...  PRI_jet_subleading_phi  PRI_jet_all_pt
0   100000       138.470  ...                  -2.475         113.497
1   100001       160.937  ...                -999.000          46.226
2   100002      -999.000  ...                -999.000          44.251
3   100003       143.905  ...                -999.000          -0.000
4   100004       175.864  ...                -999.000           0.000

[5 rows x 31 columns]

In [22]:
# leave
from sklearn.model_selection import train_test_split

- Use a Random Forest and a Gradiend Boosted Tree Classifier model to predict the label of the particles. get the score of the model on the training and test set and comment on the result for each model.

In [23]:
XL_train, XL_test, YL_train, YL_test = train_test_split(higgsdata,labels,test_size=0.2)

In [24]:
#leave 
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.datasets import make_classification

# Look at parameters used by our current forest
rf = RandomForestClassifier(random_state = 0, max_depth=5)
print('Parameters currently in use:\n')
#https://stackoverflow.com/questions/36399000/typeerror-module-object-is-not-callable-trying-to-use-pprint/36399064
pprint(rf.get_params())

Parameters currently in use:

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': 5,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 0,
 'verbose': 0,
 'warm_start': False}

In [25]:
#https://towardsdatascience.com/gradient-boosting-classification-explained-through-python-60cc980eeb3d

In [26]:
gbt = GradientBoostingClassifier(max_depth=3)
pprint(gbt.get_params())

{'ccp_alpha': 0.0,
 'criterion': 'friedman_mse',
 'init': None,
 'learning_rate': 0.1,
 'loss': 'deviance',
 'max_depth': 3,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_iter_no_change': None,
 'random_state': None,
 'subsample': 1.0,
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': 0,
 'warm_start': False}

In [27]:
rf.fit(XL_train,YL_train)

RandomForestClassifier(max_depth=5, random_state=0)

In [28]:
gbt.fit(XL_train, YL_train)

GradientBoostingClassifier()

calculate the  scores for the training and test sets and evaluate  overtraining etc

In [29]:
rf.score(XL_train,YL_train), rf.score(XL_test,YL_test)

(0.81641, 0.816)

In [30]:
gbt.score(XL_train,YL_train), gbt.score(XL_test,YL_test)

(0.83402, 0.83282)

- Produce a confusion matrix for each model and compare them

In [31]:

# I creaded this function (mostly copied from sklearn examples). 
# You can use it to create the confusion matrix
from mpl_toolkits.axes_grid1.axes_divider import make_axes_locatable
from sklearn.metrics import confusion_matrix
def plot_confusion_matrix(y_true, y_pred,
                          normalize=False,
                          title='',
                          cmap=pl.cm.bone):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """         
    if normalize:
          title = title + ' Normalized confusion matrix'
    else:
          title = title + ' Confusion matrix, without normalization'

    # Compute confusion matrix
    cm = confusion_matrix(y_true, y_pred)
    # plot it
    fig, ax = plt.subplots(1, 1)
    fig.subplots_adjust()
    im = ax.imshow(cm, cmap=cmap)
    ax_divider = make_axes_locatable(ax)
    # add an axes to the right of the main axes.
    pl.xticks([0, 1], labels=["N", "P"])
    pl.ylim(-0.5,1.5)
    pl.yticks([0,1], labels=["N", "P"])    
    pl.title(title)
    cax = ax_divider.append_axes("right", size="10%", pad="2%")
    cb = colorbar(im, cax=cax)

In [32]:
#https://www.datacamp.com/community/tutorials/random-forests-classifier-python

In [33]:
def sns_plot_cm(y_true, y_pred, normalize=False, title='',cmap=pl.cm.bone):
    '''
    Used the following to create this function:
    plot_confusion_matrix code above
    
    https://medium.com/@dtuk81/confusion-matrix-visualization-fc31e3f30fea
    https://datascience.stackexchange.com/questions/31746/how-to-include-labels-in-sns-heatmap
    https://stackoverflow.com/questions/34232073/seaborn-heatmap-y-axis-reverse-order
    https://stackoverflow.com/questions/27037241/changing-the-rotation-of-tick-labels-in-seaborn-heatmap
    https://stackoverflow.com/questions/36560829/how-to-create-a-seaborn-heatmap-with-frames-around-the-tiles
    '''


    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """         
    if normalize:
          title = title + ' Normalized confusion matrix'
    else:
          title = title + ' Confusion matrix, without normalization'
    lbls = ['N','P']
    plt.figure(figsize=(5.5,4.5))
    cm = confusion_matrix(y_true, y_pred)
    ax=sns.heatmap(cmArrayTest,annot=True,fmt='d',cmap=plt.cm.bone,xticklabels=lbls,yticklabels=lbls,linewidths=0.8, linecolor='black');
    ax.invert_yaxis()
    plt.yticks(rotation=0);
    plt.title(title)
    ax.set_frame_on(True)

In [34]:
sns_plot_cm(YL_test,rf.predict(XL_test),title='RF Mine with SNS')

NameError: ignored

In [ ]:
plot_confusion_matrix(YL_test,rf.predict(XL_test),title='RF Mine')

In [ ]:
plot_confusion_matrix(YL_test,gbt.predict(XL_test),title='GBT Mine')


- Use a Random Forest and a Gradiend Boosted Tree Regressor model to predict the weight of the particles. Compare the model performance on training and test setsm

In [ ]:
traindata_weights, testdata_weights, train_weights, test_weights = train_test_split(higgsdata,weights,test_size=0.2)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rfR = RandomForestRegressor(n_estimators=100, max_depth=3,
                                  random_state=0)
rfR.fit(traindata_weights,train_weights)

In [ ]:
rfR.score(traindata_weights,train_weights), rfR.score(testdata_weights,test_weights)

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
gbtR = GradientBoostingRegressor(max_depth=3,random_state=0)
gbtR.fit(traindata_weights,train_weights)

In [ ]:
gbtR.score(traindata_weights,train_weights), gbtR.score(testdata_weights,test_weights)

 Calculate the L2 and L1 loss functions for the fitted regression models (see slides for the definition) and discuss the results

In [ ]:
def L2(yTrue, yPred):
    return np.sum((yTrue-yPred)**2)

def L1(yTrue, yPred):
    #return np.sum(np.sqrt(((yTrue-yPred)**2)))
    return np.sum(np.absolute(yTrue-yPred))


print("L1 rfR:",L1(test_weights,rfR.predict(testdata_weights)))
print("L2 rfR:",L2(test_weights,rfR.predict(testdata_weights)))

print("L1 gbtR:",L1(test_weights,gbtR.predict(testdata_weights)))
print("L2 gbtR:",L2(test_weights,gbtR.predict(testdata_weights)))

- For the Random Forest classifier, find the 4 most important features based on the simple unoptimized model you created earlier on. Use the documentation to find out what they are. We have not talked abotu the physics of this problem at all but the Kaggle challenge description should provide enogh information for you to comment on this result is somewhat superficially.

    You can use ```rf.feature_importance_``` on the trained model to extract the relative importance of each feature (a number from 0 to 1) and then choose the features that have the 4 highest numbers (the numpy function ```argsort()``` is helpful here!)

- Explore the parameter space with the sklearn module ```sklearn.model_selection.RandomizedSearchCV``` *fitting only those 4 features*

    Follow this example to set up the parameter search. Set the estimators to 10 and 100, (the number of trees) and the max depth to 3, and 10, and None (let it be unconstrained). Set bootstrap to both True and False. Set the number of features to consider at every split to both "autp" and "sqrt". Use ```pprint``` like I did earlier in this notebook to print the parameters set

**this takes some computational time! so do not start this at the last minute!!**

In [ ]:
print("Random Forest feature importance")
rfnameList = np.array([])
rfvalList = np.array([])

for f,fi in zip (higgsdata.columns, rf.feature_importances_):
    rfnameList = np.append(rfnameList,f)
    rfvalList = np.append(rfvalList,fi.round(2))

sortIndex = rfvalList.argsort()
sortIndex = sortIndex[::-1]
rfnameList = rfnameList[sortIndex]
rfvalList = rfvalList[sortIndex]

for i in range(4):
    print(rfnameList[i],rfvalList[i])

In [ ]:
pprint(random_grid)

{'max_depth': [3, 10, None],
 'max_features': ['auto', 'sqrt'],
 'n_estimators': [10, 100, 1000]}

 mine and your best features do not necessarily have to be the same because our models may be different (different parameters, different random seed etc)

In [ ]:
higgsdata.iloc[:, best_features_index]

        PRI_tau_pt  DER_mass_vis  DER_mass_transverse_met_lep  DER_mass_MMC
0           32.638        97.827                       51.655       138.470
1           42.014       103.235                       68.768       160.937
2           32.154       125.953                      162.172      -999.000
3           22.647        80.943                       81.417       143.905
4           28.209       134.805                       16.915       175.864
...            ...           ...                          ...           ...
249995      24.754        36.548                       71.989      -999.000
249996      23.416        68.083                       58.179      -999.000
249997      35.636        75.839                       60.526       105.457
249998      27.944        68.812                       19.362        94.951
249999      43.003        70.831                       72.756      -999.000

[250000 rows x 4 columns]

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
# Random search of parameters, using 3 fold cross validation, 
# search across 18 different combinations
random_search = RandomizedSearchCV(estimator = rf, param_distributions=random_grid,
                                   n_iter=1, cv=3, iid=False)

Note that this may take a long time! It took 1 hour for me to run this. Dont start at the last minute!!

In [ ]:
random_search.fit(...

In [ ]:
print("Tuned RF  Parameters: {}".format(...))
print("Best score is {}".format(...))

In [ ]:
df = pd.DataFrame(random_search.cv_results_)

In [ ]:
df

   mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
0       6.162951        0.0518  ...        0.003627                1

[1 rows x 16 columns]

# Extra Credit: Plot a simple 3-point ROC curve for the model with the best parameters found in the previous step. Describe it.

In [ ]:
rf.fit(traindata, train_label.values.flatten()=="s", max_depth.....)

In [ ]:
# The random forest model by itself
from sklearn.metrics import roc_curve
y_pred_grd_rfcat = rf.predict_proba(testdata)[:, 1]

fpr_rf, tpr_rf, _ = roc_curve(test_label.values.flatten()=="s", rf.predict(testdata))

plt.figure(1)
plt.plot([0, 1], [0, 1], 'k--')
plt.plot(fpr_rf, tpr_rf, label='RF')
plt.xlabel('False positive rate')
plt.ylabel('True positive rate')
plt.title('ROC curve')
plt.legend(loc='best')
plt.show()